- name: Stop management service if it is running.
  ansible.builtin.systemd_service:
    name: beegfs-mgmtd
    state: stopped
    enabled: false
  become: true
  become_user: root
  ingore_errors: true
- name: Clean management location
  ansible.builtin.file:
    path: /var/lib/beegfs/mgmtd.sqlite
    state: absent
  become: true
  become_user: root
- name: Configure management
  ansible.builtin.command:
    cmd: /opt/beegfs/sbin/beegfs-mgmtd --init
  become: true
  become_user: root
- name: start mgmtd
  ansible.builtin.systemd_service:
    name: beegfs-mgmtd
    state: started
    enabled: true
  become: true
  become_user: root
